[submodule "thirdparty/gwen"]
	path = thirdparty/gwen
	url = git://github.com/McSimp/GWEN.git
[submodule "thirdparty/LuaJIT"]
	path = thirdparty/LuaJIT
	url = http://luajit.org/git/luajit-2.0.git
[submodule "thirdparty/crashrpt"]
	path = thirdparty/crashrpt
	url = https://github.com/McSimp/crashrpt-mirror.git
	ignore = untracked
[submodule "thirdparty/cryptopp"]
	path = thirdparty/cryptopp
	url = https://github.com/McSimp/cryptopp-mirror.git
	ignore = untracked
